@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Krub:wght@300;400&family=Monofett&family=Nunito:wght@300;400&family=Rubik+Bubbles&family=Silkscreen&family=Ubuntu:wght@400;500;700&family=VT323&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
::after, ::before {
    box-sizing: border-box;
}
:root {
    --Primary-color: #24C1AE;
    --NavBar-Bg: #F5F5F5;
    --font-light: #F2F2F2;
    --accent-color: #20708C;
    --font-grey: #828282;
}

.body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*Cambia a hidden cuando aparece el menu*/
.header {
    display: flex;
    padding: 1.6rem;

    position: fixed;
    left: 0;
    height: fit-content;
    width: 100%;
    z-index: 500;
}
.navBar {
    align-self: center;
    background-color: var(--NavBar-Bg);
    border-radius: 0.8rem;
    display: flex;
    height: 4.8rem;
    justify-content: space-between;
    width: 100%;
}
/*------------------------*/

/*--se aplica para mostrar opciones de menu*/
.header-options {
    display: grid;
    grid-template-rows: 1.6rem 4.8rem 0.4rem 2.72rem;
}
.navBar-options {
    display: none;
}
.menu-options {
    grid-row: 2/3;
}
.menu-options {
    grid-row: 4/5;

    background-color: #DCDCDC;
    border-radius: 0.4rem;
    display: flex;
    gap: 0.8rem;
    justify-self: flex-end;
    padding: 0.4rem 0.8rem;
    height: fit-content;
    width: fit-content;
}
.menu-option {
    font-size: 1.4rem;
}
/*------------------*/

.navBar-logo {
    height: 3.4rem;
    width: 124rem;
}
.navBar-author {
    display: none;
}
.navBar-menu {
    display: flex;
    place-content: center;
    width: 6.4rem;
}
.iconify {
    color: var(--Primary-color);
    font-size: 2.4rem;
    height: 100%;
    width: 3.68rem;
} 

.menu {
    height: 100%;
    width: 3.68rem;
}
.menu-options {
    display: none;
}
.main {
    margin: 0 8rem 2.4rem 1.6rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr) 4rem;
    grid-template-columns: 1fr;
    gap: 3.2rem;
    
    position: absolute;
    top: 10rem;
    height: fit-content;
}
.gromaSnake  {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
}
.funFace {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;

}
.spotify {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
}
.roboPage {
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
}
.project-img {
    align-self: center;
    height: 73.23px;
    width: 83.28px;
}
.project-title {
    color: var(--accent-color);
    font-family: 'Krub', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.4rem;
    padding-left: 1.6rem;
}
.project-descrip {
    color: var(--font-grey);
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding-left: 1.6rem;
}
.project-link {
    color: var(--accent-color);
    font-family: 'krub', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.project-lang {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0.4rem;
    margin-bottom: 2.4rem;
}
.project-icon-lang {
    height: 3.1rem;
    width: 4.1rem;
}
.divisor {
    color: var(--accent-color);

}

.contact {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.6rem;
    padding: 1.6rem 0.8rem;

    position: fixed;
    top: 10rem;
    right: 0;
    height: 20.8rem;
    width: 6.4rem;
}
.iconContatContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.8rem;
    width: 4.8rem;
}
.linkedIn, .instagram, .twitter {
    font-size: 2.4rem;
    width: 2.9rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--Primary-color);
    padding: 0 1.6rem;
    border-radius: 1.6rem 1.6rem 0 0;
    
    position: fixed;
    bottom: 0;
    height: 7.2rem;
    width: 100%;
}
.container-copy {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    width: fit-content;
    height: 100%;
}
.copy-right {
    font-family: 'Krub', sans-serif;
    color: var(--font-light);
    font-size: 1rem;
    font-weight: 400;
}
.footer-logo {
    width: 35.26px;
    height: 26.08px;
}
.footer-icon {
    display: flex;
    font-size: 2.4rem;
    height: 4.8rem;
    padding: 1rem;
    place-self: center;
    width: 4.8rem;
}
.footer-iconify {
    place-self: center;
    color: var(--font-light);
}
.footer-email {
    width: 6.8rem;
    height: 100%;
    position: absolute;
    left: calc(50% - 68px/2);
    top: calc(50% - 72px/2);
}
.mail-direction {
    display: none;
}
.footer-gitHub {
    width: 6.4rem;
   justify-self: right;
}

/* mobile landscape styles */
@media (max-width: 740px) and (orientation: landscape) {
    .main {
        width: 87%;
    }
    .navBar-menu {
        width: 6.4rem;
    }
    .navBar-options {
        display: none;
    }
    .gromaSnake, .funFace, .spotify, .roboPage {
        justify-self: center;
        width: 80%;
    }
    .project-img {
        height: 14.2rem;
        width: 16.2rem;
    }
    .project-title {
        font-size: 1.6rem;
    }
    .project-descrip {
        font-size: 1.4rem
    }
    .project-link {
        font-size: 1.4rem;
    }
    .project-lang {
        padding: 1.6rem 0;
    }
    .project-icon-lang {
        height: 4.8rem;
        width: 5.63rem;
    }
    .contact {
        height: 19.2rem;
    }
    .container-copy {
        width: fit-content;
    }
    .copy-right {
        font-size: 1.4rem;
    }
    .footer-iconify {
        font-size: 3.2rem;
        width: 100%;
    }
}

/* Tablet portrait styles */
@media (min-width: 768px) {
    .header {
        padding: 1.6rem 2.4rem;
    }
    .navBar{
        height: 6.4rem;
    }
    .navBar-menu, .menu-options {
        display: none;
    }
    .navBar-options {
        align-items: center;
        display: flex;
        gap: 6.4rem;
        font-family: 'Krub', sans-serif;
        font-weight: 400;
        justify-content: space-between;
        padding: 0 1.6rem;
    }
    .repo, .author {
        text-decoration: none;
        color: var(--Primary-color);
        font-size: 1.6rem;
    }

    .main {
        margin: 0 8.8rem 2.4rem 2.4rem;
        grid-template-rows: repeat(4, 1fr) 6rem;
        width: 86%;
        gap: 4.8rem;
        height: fit-content;
    }
    .gromaSnake, .funFace, .spotify, .roboPage {
        justify-self: center;
        width: 80%;
    }

    .project-img {
        height: 21.8rem;
        width: 22.8rem;
    }
    .project-title {
        font-size: 1.8rem;
        font-weight: 400;
    }
    .project-descrip {
        font-size: 1.6rem
    }
    .project-link {
        font-size: 1.6rem;
    }
    .project-lang {
        padding: 1.6rem 0;
    }
    .project-icon-lang {
        height: 4.8rem;
        width: 6rem;
    }
    .contact {
        height: 19.2rem;
        margin-right: 2.4rem;
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 7.2rem;
        padding: 0 2.4rem;
    }
    .container-copy {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .footer-logo {
        height: 3.25rem;
        width: 4.7rem;
    }
    .copy-right {
        font-size: 1.6rem;
    }
    .footer-email {
        display: none;
    } 
    .footer-dir {
        color: var(--font-light);
        display: flex;
        grid-column: 3/6;
        grid-row: 1/2;
        line-height: 2.1rem;
        place-self: center;
        text-decoration: none; 
    }
    .mail-direction {
        display: inline-block;
        font-family: 'Krub', sans-serif;
        font-size: 1.6rem;
        font-weight: 500;
    }
    .footer-gitHub {
        grid-column: 6/8;
        grid-row: 1/2;
    }
}

/* Desktop styles */
@media (min-width: 1025px) {
    .navBar-options {
        font-size: 1.8rem;
    }
    .gromaSnake, .funFace, .spotify, .roboPage {
        justify-self: center;
        width: 60%;
    }
    .project-lang {
        padding-right: 2.4rem;
    }
    .footer-email {
        display: none;
    } 
    .footer-dir {
        color: var(--font-light);
        display: flex;
        grid-column: 3/6;
        grid-row: 1/2;
        line-height: 2.1rem;
        place-self: center;
        text-decoration: none; 
    }
    .mail-direction {
        display: inline-block;
        font-family: 'Krub', sans-serif;
        font-size: 1.8rem;
        font-weight: 500;
    }
    .footer-gitHub {
        grid-column: 6/8;
        grid-row: 1/2;
    }
}

.hidden {
    display: none;
}