@use '../abstracts';

.banner_img {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: abstracts.$primary-color;
  border-radius: 16px;
  min-height: 320px;


  .banner_btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    
    a {
      text-decoration: none;
    }

    .btn {
      background-color: abstracts.$btns_bg_light;
      border: none;
    }
  }
}

.img_btns {
  align-items: flex-end;
}

.btns_img  {
  align-items: flex-start;
}

.project {
  .FullPokeApp {
    background: url("../../../public/images/fullPokeApp_banner_img_small.webp"), abstracts.$bg_fullPokeApp;
  }
  
  .Groma-Snake {
    background: url("../../../public/images/gromaSnake_banner_img_small.webp"), abstracts.$bg_groma-snake;
  }
  
  .FunFace {
    background: url("../../../public/images/Funface_banner_img_small.webp"), abstracts.$bg_funFace;
  }
  
  .Robopage {
    background: url("../../../public/images/Robopage_banner_img_small.webp"), abstracts.$bg_roboPage;
  }

  .Groma-Snake, .Robopage, .FunFace {
    margin-top: 16px;
  }
  .Groma-Snake, .Robopage {
    background-repeat: no-repeat;
    background-position: left 30% center;
  }
  
  .FullPokeApp,.FunFace {
    background-repeat: no-repeat;
    background-position: right 30% center;
  }
}

.about_projects {
  .FullPokeApp {
    background: url("../../../public/images/fullPokeApp_banner_img_small.webp");
  }
  
  .Groma-Snake {
    background: url("../../../public/images/gromaSnake_banner_img_small.webp");
  }
  
  .FunFace {
    background: url("../../../public/images/Funface_banner_img_small.webp");
  }
  
  .Robopage {
    background: url("../../../public/images/Robopage_banner_img_small.webp");
  }
  
  .Groma-Snake, .Robopage {
    background-repeat: no-repeat;
    background-position: left 30% center;
  }
  
  .FullPokeApp,.FunFace {
    background-repeat: no-repeat;
    background-position: right 30% center;
  }
}


@media (min-width: abstracts.$layout_breakpoint_medium) {
  .banner_img {
    height: 500px;
  }

  .project {
    .FullPokeApp {
      background: url("../../../public/images/fullPokeApp_banner_img_medium.webp"), abstracts.$bg_fullPokeApp;
    }
  
    .Groma-Snake {
      background: url("../../../public/images/gromaSnake_banner_img_medium.webp"), abstracts.$bg_groma-snake;
    }
    
    .FunFace {
      background: url("../../../public/images/Funface_banner_img_medium.webp"), abstracts.$bg_funFace;
    }
    
    .Robopage {
      background: url("../../../public/images/Robopage_banner_img_medium.webp"), abstracts.$bg_roboPage;
    }

    .Groma-Snake, .Robopage {
      background-repeat: no-repeat;
      background-position: left 20% center;
    }
    
    .FullPokeApp,.FunFace {
      background-repeat: no-repeat;
      background-position: right 20% center;
    }
  }

  .about_content {

    .about_projects {
      .FullPokeApp {
        background: url("../../../public/images/fullPokeApp_banner_img_medium.webp");
      }
      
      .Groma-Snake {
        background: url("../../../public/images/gromaSnake_banner_img_medium.webp");
      }
      
      .FunFace {
        background: url("../../../public/images/Funface_banner_img_medium.webp");
      }
      
      .Robopage {
        background: url("../../../public/images/Robopage_banner_img_medium.webp");
      }

      .Groma-Snake, .Robopage {
        background-repeat: no-repeat;
        background-position: left 20% center;
      }
      
      .FullPokeApp,.FunFace {
        background-repeat: no-repeat;
        background-position: right 20% center;
      }
    }
  }
}

@media (min-width: abstracts.$layout_breakpoint_expanded) {
  .banner_img {
    height: 600px;
  }

  .project {
    .FullPokeApp {
      background: url("../../../public/images/FullPokeApp_banner_img_expanded.webp"), abstracts.$bg_fullPokeApp;
    }
  
    .Groma-Snake {
      background: url("../../../public/images/gromaSnake_banner_img_expanded.webp"), abstracts.$bg_groma-snake;
    }
    
    .FunFace {
      background: url("../../../public/images/Funface_banner_img_expanded.webp"), abstracts.$bg_funFace;
    }
    
    .Robopage {
      background: url("../../../public/images/Robopage_banner_img_expanded.webp"), abstracts.$bg_roboPage;
    }

    .Groma-Snake, .Robopage {
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .FullPokeApp,.FunFace {
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .about_content {
    .about_projects {
      
      .btns_img, .img_btns {
        .banner_btns {
          padding: 0;
        }
      }
      .FullPokeApp {
        background: url("../../../public/images/fullPokeApp_banner_img_expanded.webp");
      }
      
      .Groma-Snake {
        background: url("../../../public/images/gromaSnake_banner_img_expanded.webp");
      }
      
      .FunFace {
        background: url("../../../public/images/Funface_banner_img_expanded.webp");
      }
      
      .Robopage {
        background: url("../../../public/images/Robopage_banner_img_expanded.webp");
      }
      
      .Groma-Snake, .Robopage {
        background-repeat: no-repeat;
        background-position: center;
      }
      
      .FullPokeApp,.FunFace {
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .banner_btns {
    .banner_btn {
      font-size: 14px;
      height: 80px;
      width: 110px;

      svg {
        font-size: 32px;
      }
    }
  }
}