@use '../abstracts';

.banner_img {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: abstracts.$primary-color;
  border-radius: 16px;
  min-height: 305px;


  .banner_btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    
    a {
      text-decoration: none;
    }

    .banner_btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 8px;

      background-color: abstracts.$btns_bg_light;
      border: none;
      border-radius: 16px;
      color: abstracts.$primary-color;
      font-size: 12px;
      font-weight: 600;
      height: 62px;
      width: 84px;

      svg {
        color: abstracts.$primary-color;
        font-size: 24px;
        margin: 4px;
      }
    }
  }
}

.img_btns {
  align-items: flex-end;
}

.btns_img  {
  align-items: flex-start;
}

.FullPokeApp {
  background: url("../../../public/images/fullPokeApp_banner_img_mobile.webp"), abstracts.$bg_fullPokeApp;
}

.Groma-Snake {
  background: url("../../../public/images/groaSnake_banner_img_mobile.webp"), abstracts.$bg_groma-snake;
}

.FunFace {
  background: url("../../../public/images/Funface_banner_img_mobile.webp"), abstracts.$bg_funFace;
}

.Robopage {
  background: url("../../../public/images/RoboPage_banner_img_mobile.webp"), abstracts.$bg_roboPage;
}

@media (min-width: abstracts.$layout_breakpoint_medium) {
  .banner_img {
    height: 432px;
    max-width: 608px;

    .banner_btns {
      .banner_btn {
        font-size: 14px;
        height: 80px;
        width: 110px;

        svg {
          font-size: 32px;
        }
      }
    }
  }

  .FullPokeApp {
    background: url("../../../public/images/fullPokeApp_banner_img_tablet-desktop.webp"), abstracts.$bg_fullPokeApp;
  }

  .Groma-Snake {
    background: url("../../../public/images/groaSnake_banner_img_tablet-desk.webp"), abstracts.$bg_groma-snake;
  }
  
  .FunFace {
    background: url("../../../public/images/Funface_banner_img_tablet-desk.webp"), abstracts.$bg_funFace;
  }
  
  .Robopage {
    background: url("../../../public/images/RoboPage_banner_img_tablet-desktop.webp"), abstracts.$bg_roboPage;
  }
}

@media (min-width: abstracts.$layout_breakpoint_expanded) {
  .banner_img {
    height: 432px;
    max-width: 608px;

    .banner_btns {
      .banner_btn {
        font-size: 14px;
        height: 80px;
        width: 110px;

        svg {
          font-size: 32px;
        }
      }
    }
  }
}

.Groma-Snake, .Robopage {
  background-repeat: no-repeat;
  background-position: left clamp(0.5px, 20%, 6rem) center;
}

.FullPokeApp,.FunFace {
  background-repeat: no-repeat;
  background-position: right clamp(0.5px, 20%, 6rem) center;
}