@use '../abstracts';

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  position: sticky;
  top: 16px;

  background-color: abstracts.$font_light;
  border-radius: 16px;
  height: 80px;

  .navBar_logo {
    min-width: 200px;
    width: 200px;
  }

  .dropdown {
    display: none;
  }

  .menu {
    align-items: end;
    background-color: #ffffff;
    border-radius: 16px;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    margin: 16px 0;
    padding: 8px 16px;
    position: absolute;
    right: 0;
    top: 80px;

    ul.dropdown_links {
      display: flex;
      flex-direction: column;
      gap: 24px;
      list-style: none;
      margin-top: 8px;

      li, a {
        color: abstracts.$primary-color;
        font-size: 18px;
        text-decoration: none;
        place-content: center;
      }
    }
  }

  .active {
    background-color: abstracts.$primary_variant-light;
    border-radius: 8px;
    font-weight: bold;
    padding: 8px;
  }

  .dropdown_links a:not(.active):hover {
    color: abstracts.$secondary-color;
  }

  .navBar_lang {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 100%;
    justify-content: center;
    margin: 1px 0;

    .lang_img {
      max-height: 32px;
      max-width: 32px;
    }

    .lang_selector {
      border: solid 1px abstracts.$primary_variant-light;
      border-radius: 8px;
      color: abstracts.$primary-color;
      font-size: 18px;
    }
  }
}

@media (min-width: abstracts.$layout_breakpoint_medium) {
  .navBar {

    .burguer_menu {
      display: none;
    }

    .dropdown {
      display: flex;
      flex-direction: row;
      gap: 24px;
      align-items: center;
      position: absolute;
      top: 0;
      right: 16px;

      height: 100%;
      
      ul.dropdown_links {
        display: flex;
        flex-direction: row;
        gap: 16px;
        list-style: none;
  
        li, a {
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: abstracts.$layout_breakpoint_expanded) {
  .navBar {

    .dropdown {
      gap: 48px;
    }
  }
}