@use '../abstracts';

.rrss {
  display: grid;
  grid-template-columns: repeat(3, minmax(40px, 56px));
  justify-content: center;
  gap: 24px;

  .rrss_btn {
    background-color: transparent;
    border: none;
    height: 56px;
  }
}