@use '../abstracts';

.rrss {
  padding: 8px;

  .rrss_btn {
    background-color: transparent;
    border: none;
    padding: 8px;
    margin: 0 16px;
    min-height: 40px;
    min-width: 40px;
  }
}