.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.project {
  display: grid;
  gap: 24px;
  width: 90svw;
}

.divisor {
  display: block;
  border: 2px solid #f7e0d3;
  border-radius: 16px;
  width: 85%;
  margin-bottom: 16px;
}