@use '../abstracts';

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  width: 100%;
  max-width: 1200px;
  justify-self: center;
  
  .project {
    display: grid;
    gap: 24px;
    width: 100%;
  }
  
  .divisor {
    display: block;
    border: 2px solid #f7e0d3;
    border-radius: 16px;
    width: 100%;
    margin-bottom: 16px;
  }
}

@media (min-width: abstracts.$layout_breakpoint_medium) {
  .projects {
    .project {
      gap: 32px;
    }
  }
}