@use './colors';
@use './layouts';
@use './fonts';

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;

  border-radius: 16px;
  color: colors.$primary-color;
  font-size: fonts.$btn_small;
  font-weight: fonts.$medium;
  height: 3.75rem;
  width: 5rem;
   
  svg {
    color: colors.$primary-color;
    font-size: 24px;
  }
}

.go_Up {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: solid 1px #1E7B9D;
  color: #1E7B9D;
  font-size: 24px;
  height: 64px;
  justify-self: right;
  margin-right: 16px;
  width: 64px;
}

.go_Up:hover {
  background-color: #E6F5F0;
  color: #F09D20;
  border-color: #24C2AF;
}

@media (min-width: layouts.$layout_breakpoint_medium) {
  .btn {
    font-size: fonts.$btn_medium;
    height: 5rem;
    width: 6.875rem;

    svg {
      font-size: 32px;
    }
  }
}