$primary-color: #1E7B9D;
$primary_variant-dark: #008B8B;
$primary_variant-light: #24C2AF;

$secondary-color: #F09D20;

$background-color: #FFF6F1;

$font_light: #ffffff;
$font_neutral: #767b7c;
$icon-light: #F2F2F2;
$icon-neutral-bg: #717F85;
$btns_bg_light: #FCFFFF;
$divisor-color: #f7e0d3;

$bg_fullPokeApp: linear-gradient(143deg, rgba(195,158,13,1) 0%, rgba(236,215,129,1) 40%, rgba(200,162,14,0.6896008403361344) 69%, rgba(195,158,13,0) 100%);

$bg_groma-snake: #1FBBBA;

$bg_funFace: linear-gradient(52deg, rgba(223,148,139,1) 0%, rgba(221,128,120,1) 22%, rgba(220,131,123,1) 27%, rgba(221,141,132,1) 33%, rgba(221,142,133,1) 39%, rgba(221,143,134,1) 44%, rgba(222,149,140,1) 50%, rgba(225,161,151,1) 56%, rgba(225,165,154,1) 62%, rgba(226,168,157,1) 82%, rgba(225,162,151,1) 92%, rgba(224,164,154,1) 100%);

$bg_roboPage: linear-gradient(52deg, rgba(203,225,247,1) 0%, rgba(151,204,254,0.9641106442577031) 31%, rgba(125,188,248,0.40948879551820727) 62%, rgba(190,220,248,1) 89%, rgba(179,217,253,1) 100%);