$primary-color: #1E7B9D;
$primary_variant-dark: #008B8B;
$primary_variant-color: #24C2AF;

$secondary-color: #F09D20;

$background-color: #FFF6F1;

$font_light: #ffffff;
$icon-light: #F2F2F2;
$btns_bg_light: #FCFFFF;
$divisor-color: #f7e0d3;